/* App css */

.app {
  font-family: Arial, sans-serif;
  padding: 200px;
  background-color:white; /* dark background like screenshot */
}

.nav {
  text-align: center;
  margin-bottom: 30px;
}

.nav h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* smaller card */
  gap: 20px;
}

.user-link {
  background: gray; /* full card white */
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.user-link:hover {
  transform: translateY(-5px);
}

.user-info img {
  width: 100%;
  height: auto;
  background-color: #e0e0e0;
  border-radius: 5px;
  
}

.user-info img:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* shadow on hover */
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  color: white; /* black text */
}

.user-email {
  font-size: 0.85rem;
  color: white; /* black text */
  margin-top: 4px;
}
